
<header><h1>Edit Selected Pet: </h1></header>


{{#with foundPet}}
<form action='/pets/edit/{{id}}' method="POST">
    <label for="image">Enter Image URL: </label>
    <input type="text" name="imgUrl" value="{{imgUrl}}" /><br>

    <label for="name">Enter Pet Name: </label>
    <input type="text" name="name" value="{{name}}"/><br>

    <label for="description">Description of Pet: </label>
    <input typearea="text" name="description" value="{{description}}" /><br>

    <button type="submit">Edit Item</button>
    <button action="/pets/delete/{{id}}" method="POST" type="submit">Delete Pet</button>
    <button onclick="history.back()"> Back </button>
</form>
{{/with}}